body{
    background-color: silver;
}
    .navbarLogin {
        width: 100vw;
        position: absolute;
        top: 0;
        left: 0;
    }

    .navbarLogin .row {
        width: 100vw;
        height: 200px;
    }

    .navbarLogin .col {
        align-items: center;
    }

    body {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .colText {
        font-size: larger;
        font-weight: bold;
    }

    .userName:hover,.password:hover {
        border:2px black solid;
    }


    .loginForm {
        margin-top: 10px;
        background-color:rgba(0, 0, 0, 0.501);
        max-width: 500px;
        max-height: 400px;
        height: 400px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid white;
        border-radius: 30px;
        box-shadow: 10px 10px 10px black;
        margin-top: 60px;
    }


    .textContainer .row {
        /* background-color: red; */
        font-size: 30px;
        display: flex;
        justify-content: center;
        max-height: 40px;
    }

    .textContainer :nth-child(2) {
        font-size: 30px;
        min-width: 500px;
        max-height: 40px;
    }
    .textAlert{
        color: white;
        text-shadow: 8px 8px 9px black;
        font-weight: bold;
        font-size: xx-large;
    }
    .buttonForm{
        height: 40px;
        border-radius: 50px;
    }
    .buttonForm:hover{
        outline: 2px solid black;
    }
    .userName,.password{
        text-align: center;
        caret-color:red;
        border-radius: 50px;
    }

    @media screen and (min-width:900px) and (max-width:1500px) {

        .loginForm {
            margin-top: 0px;
            max-width: 500px;
            max-height: 400px;
        }
        .navbarLogin {
            width: 100vw;
            position: absolute;
            top: 0;
            left: 0;
        }

        .textContainer .row {
            /* background-color: red; */
            font-size: 20px;
            display: flex;
            justify-content: center;
            max-height: 20px;
        }

        .textContainer :nth-child(2) {
            font-size: 20px;
            max-height: 20px;
            margin-left: -60px;
            min-width: 400px;
        }

        .mutahLogo {
            height: 100px;
        }

        .jordanLogo {
            height: 100px;
        }

        .navbarLogin .row {
            height: 200px;
        }
    }
    @media screen and (min-width:600px) and (max-width:899px) {
        .loginForm {
            margin-top: 0px;
            max-width: 500px;
            max-height: 400px;
        }
        .navbarLogin {
            width: 100vw;
            position: absolute;
            top: 0;
            left: 0;
        }

        .textContainer .row {
            /* background-color: red; */
            font-size: 20px;
            display: flex;
            justify-content: center;
            max-height: 20px;
            min-width: 400px;
            margin-left: -70%;
        }

        .textContainer :nth-child(2) {
            font-size: 20px;
            max-height: 20px;
            min-width: 400px;
        }

        .mutahLogo {
            height: 100px;
        }

        .jordanLogo {
            height: 100px;
        }

        .navbarLogin .row {

            height: 200px;
        }
    }



    @media screen and (max-height:900px) {
        .loginForm {
            margin-top: 150px;
            max-width: 500px;
            max-height: 400px;
        }
        .navbarLogin .row {
        width: 100vw;
        height: 150px;
    }

    }


    @media only screen and (max-width:600px) {
        .loginForm {
            max-width: 300px;
            max-height: 400px;
            margin-top: 0px;
        }

        .textContainer .row {
            /* background-color: red; */
            font-size: 8px;
            display: flex;
            justify-content: center;
            max-height: 20px;
        }

        .textContainer :nth-child(2) {
            font-size: 8px;
            max-height: 20px;
            margin-left: -30px;
            min-width: 130px;
        }

        .mutahLogo {
            height: 80px;
        }

        .jordanLogo {
            height: 80px;
        }

        .navbarLogin .row {

            height: 100px;
        }

    }

    @media only screen and (max-width:280px) {
        .loginForm {
            max-width: 200px;
            max-height: 400px;
            margin-top: 0px;
        }

        .textContainer .row {
            /* background-color: red; */
            font-size: 8px;
            display: flex;
            justify-content: center;
            max-height: 20px;
            margin-left: -44px;
            min-width: 130px;
        }

        .textContainer :nth-child(2) {
            font-size: 8px;
            max-height: 20px;
            margin-left: -44px;
            min-width: 130px;
        }

        .mutahLogo {
            height: 60px;
        }

        .jordanLogo {
            height: 60px;
        }

        .navbarLogin .row {

            height: 100px;
        }

    }
